.App {
  text-align: center;
  color: rgb(100, 100, 243);
  background-color: #7dcfb6;
  font-weight: bolder;
  width: 50%;
  height: auto;
  border: 5px solid #58cfac;
  border-radius: 10px;
  margin:20px auto;
  padding-bottom: 50px;
}
.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bar{
  background-color: #8de6cb;
  border-radius: 10px;
  width:35%;
  height:40px;
  font-size: 20px;
  appearance: none;
  border:none;
  border:2px solid #a0c4ff;

}
.bar:focus{
  display: block;
  background: none;
  appearance: none;
  border: none;
  outline: none;
  background-color: #9de7d1;
  border:4px solid #a0c4ff;

}
.addBtn{
  background-color: #43aa8b;
  border-radius: 10px;
  width:100px;
  height:40px;
  font-size: 20px;
  margin-left: 20px;
  appearance: none;
  border:none;
  color: aliceblue;
  cursor: pointer;
}
.addBtn:hover{
  background-color: #255fa5;
}
h2{
  color: #1d4e89;
  margin: 50px auto;
  text-align: center;
  font-weight: bolder;
}
h2 > span {
  color: #860f9e;
}
.task{
  display: flex;
  position: relative;
  width:50%;
  height:20px;
  background-color: #52b788;
  text-align: left;
  border-radius: 10px;
  color: #1d4e89;
  margin:20px auto;
  padding: 10px;
}
.deleteBtn{
  background-color: #87d4db;
  cursor: pointer;
  border-radius: 5px;
  width: 50px;
  height:30px;
  font-size: 10px;
  margin-left: 10px;
  appearance: none;
  border:none;
  margin: 0 auto;
  justify-content: center;
}