.App {
  text-align: center;
  color: rgb(100, 100, 243);
  background-color: #7dcfb6;
  font-weight: bolder;
  width: 100%;
  height: auto;
  border: 10px solid #00b2ca;
  border-radius: 10px;
  margin:20px auto;
  padding-bottom: 50px;
}
.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bar{
  background-color: #fcf5c7;
  border-radius: 10px;
  width:50%;
  height:40px;
  font-size: 20px;
  appearance: none;
  border:none;
}
.bar:focus{
  display: block;
  background: none;
  appearance: none;
  border: none;
  outline: none;
  background-color: #f8d8b4;
}
.addBtn{
  background-color: #1d4e89;
  border-radius: 10px;
  width:100px;
  height:40px;
  font-size: 20px;
  margin-left: 20px;
  appearance: none;
  border:none;
  color: aliceblue;
}
h2{
  color: #1d4e89;
  margin: 50px auto;
  text-align: center;
  font-weight: bolder;
}
h2 > span {
  color: #c24207;
}
.task{
  display: flex;
  width:320px;
  height:20px;
  background-color: #f1e48b;
  text-align: left;
  border-radius: 10px;
  color: #1d4e89;
  margin:20px auto;
  padding: 10px;
  border:5px solid #deaaff;
}